/*VARIAVEIS*/
$primary-color: #fff;
$secundary-color: #00FF00;
$tertiary-color: #606c38;
$cards-color:#31572c;


/*MAP GET*/
$font-weight : (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
